name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  SCHEME: SoostoneTask
  TEST_DEVICE: platform=iOS Simulator,name=iPhone 13,OS=16.2 # Adjust this based on available simulators

jobs:
  list-simulators:
    runs-on: macos-latest
    steps:
    - name: List available simulators
      run: xcrun simctl list devices

  build:
    runs-on: macos-latest
    timeout-minutes: 30
    needs: list-simulators
    steps:
    - name: Checkout project repo
      uses: actions/checkout@v4

    - name: Build
      run: xcodebuild -scheme '${{ env.SCHEME }}' -sdk iphonesimulator -destination '${{ env.TEST_DEVICE }}' build

  test:
    runs-on: macos-latest
    timeout-minutes: 30
    needs: build
    steps:
    - name: Checkout project repo
      uses: actions/checkout@v4

    - name: Test
      run: xcodebuild -scheme '${{ env.SCHEME }}' -sdk iphonesimulator -destination '${{ env.TEST_DEVICE }}' test
